body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0px;
}
section{
    margin-bottom: 130px;
}
/* banner css part start  */
.banner-container{
    width: 870px;
    padding-top: 33px;
    padding-right: 33px;
    padding-left: 33px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    background-color:#191616;
}
.banner-flex{
    display: flex;
    flex-direction: row;
}
.banner-content{
    width: 50%;
}
.banner-heading{
    font-size: 48px;
    margin: 0px;
    margin-top: 20px;
    color: white;
}
.banner-paragraph{
    margin: 0px;
    margin-bottom: 30px;
    color: white;
}
.banner-content a{
    text-decoration: none;
    width: 187px;
    height: 56px;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    color:#FFFFFF;
    font-size: 20px;
}
.fa-angle-right{
    margin-left: 10px;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
}

/* banner css part end  */

/* main css part start  */

/* box part css start  */
.main-flex{
    display: flex;
    align-items: center;
}
.container{
    width: 930px;
    margin: 0 auto;
}
.box{
    width: 220px;
    height: 372px;
    background-color: #191616;
    border-radius: 10px;
    margin-left: 10px;
}

.form-type a input{
    margin-top: 62px;
    margin-left: 2px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: red;
}
#all input{
    background-color: white;
    color: #161616;
}
#up input{
    background-color: white;
    color: #161616;
}

/* box part css end  */
/* live part start  */


.lives{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    background-color: white;
    border-radius: 10px;
    height: 372px;
    width: 220px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    margin-left: 10px;
}
.live-imag{
    margin-bottom: 24px;
}
.live-imag img{
    width: 220px;
    height: 175px;
}
.live-container{
    width: 180px;
    margin: 0 auto;
}
.btn{
    text-decoration: none;
    padding: 4px 17px;
    border: 2px solid #161616;
    border-radius: 5px;
    color: #161616;
}
.live-heading{
    font-size: 18px;
}
.live-icon{
    display: flex;
}
.cmnt{
    margin-left: 30px;
}
span{
    margin-left: 10px;
}

/* main css part end  */

/* footer part css start  */
footer{
    margin-top: 950px;
    height: 200px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: black;
}
.footer-heading{
    color: white;
    text-align: center;
}
hr{
    border: 1px solid #FFFFFF1A;
    margin-bottom: 27px;
}
.footer-menu{
    display:flex;
    justify-content: space-around;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    padding: 10px 15px;
}
.menu ul li a{
    text-decoration: none;
    color: #B9B9B9;
}
.icon-site{
    display: flex;
    justify-content: center;
}

.icon ul{
    display: flex;
}
.icon ul li{
    list-style: none;
    padding: 0px 15px;
}
.icon ul li a {
    color: #B9B9B9;
    font-size: 24px;
}
/* footer part css end  */



