body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0px;
}
section{
    margin-bottom: 130px;
}
/* banner css part start  */
.banner-container{
    width: 870px;
    padding-top: 33px;
    padding-right: 33px;
    padding-left: 33px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    background-color:#191616;
}
.banner-flex{
    display: flex;
    flex-direction: row;
}
.banner-content{
    width: 50%;
}
.banner-heading{
    font-size: 48px;
    margin: 0px;
    margin-top: 20px;
    color: white;
}
.banner-paragraph{
    margin: 0px;
    margin-bottom: 30px;
    color: white;
}
.banner-content a{
    text-decoration: none;
    width: 187px;
    height: 56px;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    color:#FFFFFF;
    font-size: 20px;
}
.fa-angle-right{
    margin-left: 10px;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
}

/* banner css part end  */

/* main css part start  */

/* box part css start  */
.main-flex{
    display: flex;
    align-items: center;
}
.container{
    width: 930px;
    margin: 0 auto;
}
.box{
    width: 220px;
    height: 372px;
    background-color: #191616;
    border-radius: 10px;
    margin-left: 10px;
}


.form-type a input{
    margin-top: 62px;
    margin-left: 2px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: red;
}
#all input{
    background-color: white;
    color: #161616;
}
#up input{
    background-color: white;
    color: #161616;
}

/* box part css end  */
/* live part start  */


.lives{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    background-color:white;
    border-radius: 10px;
    height: 372px;
    width: 220px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    margin-left: 10px;
}
.live-imag{
    margin-bottom: 24px;
}
.live-imag img{
    width: 220px;
    height: 175px;
}
.live-container{
    width: 180px;
    margin: 0 auto;
}
.btn{
    text-decoration: none;
    padding: 4px 17px;
    border: 2px solid #161616;
    border-radius: 5px;
    color: #161616;
}
.live-heading{
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.live-icon{
    display: flex;
    margin-bottom: 18px;
}
.cmnt{
    margin-left: 30px;
}
span{
    margin-left: 10px;
}


/* main css part end  */

/* footer part css start  */
.footer{
    margin-top: 828px;
    height: 200px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: black;
}
.footer-heading{
    color: white;
    text-align: center;
}
hr{
    border: 1px solid #FFFFFF1A;
    margin-bottom: 27px;
}
.footer-menu{
    display:flex;
    justify-content: space-around;
}
.menu ul{
    display: flex;
    padding: 0px;
}
.icon ul{
    padding: 0px;
}
.menu ul li{
    list-style: none;
    padding: 10px 15px;
}
.menu ul li a{
    text-decoration: none;
    color: #B9B9B9;
}
.icon-site{
    display: flex;
    justify-content: center;
}

.icon ul{
    display: flex;
}
.icon ul li{
    list-style: none;
    padding: 0px 15px;
}
.icon ul li a {
    color: #B9B9B9;
    font-size: 24px;
}
/* footer part css end  */

/* index2 part start  */
.live2-img{
    display: flex;
    margin: 30px 0px 40px 0px;
}
.img-1{
    margin-top: 27px;
}
.img-2{
    margin-top: 27px;
}
.vs{
    margin-top: 80px;
}
.live2-img img{
    Width:93.04px;
    Height:127px;
}
.live2-heading{
    font-size: 17px;
    margin-top: 70px;
}
.live2-heading p{
    font-size: 12px;
}
.live-details2{
    text-align: center;
}
.footer2{
    margin-top: 418px;
    height: 200px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: black;
}

/* index2 part end  */


/* media quaries part1 start  */
@media screen and (max-width:668px) {

    .banner-content{
        width:100%;
        text-align: center;

    }
    .banner-img{
        width: 100%;
        margin-top: 21px;
    }
    .banner-container{
        width:100%;
        padding: 0px;
    }
    .banner-flex{
        flex-direction: column;
    }
    
    .lives{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .container{
        width: 100%;
    }
    .box{
        width: 220px;
        height: 372px;
        background-color: white;
        border-radius: 10px;
        margin-left: 10px;
    }
    .form-type a input{
        margin-top: 62px;
        margin-left: 2px;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 10px 0px;
        border: 1px solid gray;
        color: white;
        border-radius: 10px;
        background-color: red;
    }
    .main-flex{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        grid-row-gap: 10px;

    }
    .footer{
        margin-top: 3082px;
        padding-bottom: 388px;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
    }
    .icon ul{
        display: flex;
        flex-direction: column;
    }
    .icon ul li {
        padding: 7px 15px;
    }
    ul{
        padding: 0px;
    }
    .container{
        width: 90%;
    }
    
}
/* media quaries part1 end  */

/* media quaries part2 start  */
@media screen and (min-width:669px) and (max-width:992px) {     
    .banner-flex{
        display: flex;
        flex-direction: row;
    }
    .banner-content{
        width:50%;
    }
    .banner-img{
        width: 50%;
        /* margin-top: 21px; */
    }
    .banner-img img{
        width: 100%;
    }
    .banner-container{
        width: 870px;
        padding-top: 33px;
        padding-right: 33px;
        padding-left: 33px;
        padding-bottom: 33px;
        margin: 0 auto;
        margin-top: 50px;
        border-radius: 30px;
        background-color:#191616;
    }
    .banner-container{
        width:85%;

    }
    .banner-flex{
        flex-direction: row;
    }

    .lives{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-around;
    }
    .container{
        width: 100%;
    }
    .main-flex{
        display: flex;
        flex-direction: column;
        justify-items: center;
        grid-row-gap: 10px;

    }
    .form-type a{
        text-decoration: none;
    }
    .form-type a input{
        margin-top: 62px;
        margin-left: 2px;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 10px 0px;
        border: none;
        color: white;
        border-radius: 10px;
        background-color: red;
        display: block;
    }
    .box{
        width:0px;
        height: 0px;
        background-color: white;
        border-radius: 0px;
        margin-left: 0px;
    }
    .form-type{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        /* display: block; */
    }
    .box .form-type input{
        border: 1px solid gray;
        margin-top: -65px;
        margin-left: 34px;
    }
    .footer{
        margin-top: 1565px;
        padding-bottom: 388px;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
    }
    .icon ul{
        display: flex;
        flex-direction: column;
    }
    .icon ul li {
        padding: 7px 15px;
    }
    ul{
        padding: 0px;
    }
    .container{
        width: 90%;
    }
    body{
        margin: 0;
    }
}
/* media quaries part2 end  */




